## IRIS; 사이킷런의 대표적 실습 데이터
### 붓꽃의 꽃받침, 꽃잎의 폭과 너비를 이용해서 붓꽃 품종을 예측

![title](img/iriss.png)

https://scikit-learn.org/stable/datasets/index.html  
에서 다양한 데이터셋 확인이 가능하다

### 1. 데이터 로드

In [1]:
import pandas as pd

from sklearn.datasets import load_iris

In [2]:
iris_dataset = load_iris()

### 2. 데이터 살펴보기

In [3]:
type(iris_dataset)

sklearn.utils.Bunch

===========================================================  
Bunch; sklearn 에서 제공하는 데이터셋의 자료형

data: (필수) 독립 변수 ndarray 배열  
target: (필수) 종속 변수 ndarray 배열  
feature_names: (옵션) 독립 변수 이름 리스트  
target_names: (옵션) 종속 변수 이름 리스트  
DESCR: (옵션) 자료에 대한 설명
<br>
<br>
→ 일종의 딕셔너리형 구조라고 생각하면 이해하기 쉽다

===========================================================

In [3]:
print("iris_dataset의 key 값:", iris_dataset.keys())

iris_dataset의 key 값: dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
# print(iris_dataset['DESCR'])
print(iris_dataset['DESCR'][:500] + "\n...")

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica


...

In [5]:
print("iris_dataset의 feature_names 값:", iris_dataset['feature_names'])
print("iris_dataset의 target_names 값:", iris_dataset['target_names'])

iris_dataset의 feature_names 값: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
iris_dataset의 target_names 값: ['setosa' 'versicolor' 'virginica']

In [9]:
iris_dataset['data'][:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [5]:
# pandas 로 dataset 가져오기
print('iris dataset 의 data 값')

X_iris = pd.DataFrame(iris_dataset['data'])
X_iris.head(5)

iris dataset 의 data 값

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

### 3. Local 에서 직접 data 를 불러오도록 하자

In [11]:
iris = pd.read_csv("./data/iris.csv")
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

#### Data PreProcessing

##### 1. Split X and Y

In [12]:
X_iris = iris[["sepal.length", "sepal.width", "petal.length", "petal.width"]]
y_iris = iris[["variety"]]

In [13]:
X_iris.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
y_iris.head()

  variety
0  Setosa
1  Setosa
2  Setosa
3  Setosa
4  Setosa

Column 명을 변경

In [17]:
# 컬럼명 변경 -> 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'
X_iris_columns = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
X_iris.columns = X_iris_columns
X_iris.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [18]:
y_iris.head()

  variety
0  Setosa
1  Setosa
2  Setosa
3  Setosa
4  Setosa

In [19]:
y_iris['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

### 3. Split train set, test set

In [20]:
# 함수를 이용해서 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_iris, y_iris, test_size=0.3, random_state=0)

In [21]:
print("X_train", X_train.shape)
print("X_test", X_test.shape)

X_train (105, 4)
X_test (45, 4)

In [22]:
len(y_iris)

150

### 4. Machine learning modeling

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

### 5. Training

In [16]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
60                 5.0               2.0                3.5               1.0
116                6.5               3.0                5.5               1.8
144                6.7               3.3                5.7               2.5
119                6.0               2.2                5.0               1.5
108                6.7               2.5                5.8               1.8
..                 ...               ...                ...               ...
9                  4.9               3.1                1.5               0.1
103                6.3               2.9                5.6               1.8
67                 5.8               2.7                4.1               1.0
117                7.7               3.8                6.7               2.2
47                 4.6               3.2                1.4               0.2

[105 rows x 4 columns]

In [17]:
y_train

        variety
60   Versicolor
116   Virginica
144   Virginica
119   Virginica
108   Virginica
..          ...
9        Setosa
103   Virginica
67   Versicolor
117   Virginica
47       Setosa

[105 rows x 1 columns]

In [24]:
## knn 알고리즘 traiging
knn.fit(X_train, y_train)

/Users/sanghyuk/anaconda/envs/py38/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [34]:
y_train.values[:3]

array([['Versicolor'],
       ['Virginica'],
       ['Virginica']], dtype=object)

In [31]:
print(y_train.shape)
print(y_train.values.ravel().shape)
y_train.values.ravel()

(105, 1)
(105,)

array(['Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Versicolor', 'Virginica',
       'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Virginica', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Setosa',
       'Setosa', 'Versicolor', 'Virginica', 'Virginica', 'Setosa',
       'Setosa', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Versicolor', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica',
       'Versicolor', 'Versicolor', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Virginica',
       'Versicolor', 'Virginica', 'Setosa'], dtype=object)

In [32]:
## knn 알고리즘 traiging
# not error
knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(n_neighbors=3)

### 6. Predict

In [42]:
import numpy as np

# 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)' 을 임의로 정한다
# 5.3, 2.1, 1.3, 0.2 의 수치로 정함
Our_X = np.array([[5.3, 2.1, 1.3, 0.2]])
Our_X.shape

(1, 4)

In [41]:
# 임의의 데이터로 prediction
prediction = knn.predict(Our_X)
prediction

array(['Setosa'], dtype=object)

### 7. Accuracy

In [44]:
y_pred = knn.predict(X_test)
print("테스트 세트에 대한 예측값:\n {}".format(y_pred))

테스트 세트에 대한 예측값:
 ['Virginica' 'Versicolor' 'Setosa' 'Virginica' 'Setosa' 'Virginica'
 'Setosa' 'Versicolor' 'Versicolor' 'Versicolor' 'Virginica' 'Versicolor'
 'Versicolor' 'Versicolor' 'Versicolor' 'Setosa' 'Versicolor' 'Versicolor'
 'Setosa' 'Setosa' 'Virginica' 'Versicolor' 'Setosa' 'Setosa' 'Virginica'
 'Setosa' 'Setosa' 'Versicolor' 'Versicolor' 'Setosa' 'Virginica'
 'Versicolor' 'Setosa' 'Virginica' 'Virginica' 'Versicolor' 'Setosa'
 'Virginica' 'Versicolor' 'Versicolor' 'Virginica' 'Setosa' 'Virginica'
 'Setosa' 'Setosa']

In [48]:
# make np.array as 1-D array
np.array(y_test).flatten()

array(['Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Setosa'], dtype=object)

In [50]:
# y_test 를 1차원 matrix 로 변경
y_test_flatten = np.array(y_test).flatten()

In [51]:
y_pred == y_test_flatten

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True])

In [52]:
print("테스트 세트의 정확도: {:.2f}".format(np.mean(y_pred == y_test_flatten)))

테스트 세트의 정확도: 0.98

In [53]:
print("테스트 세트의 정확도: {:.2f}".format(knn.score(X_test, y_test_flatten)))

테스트 세트의 정확도: 0.98